:root {
    /* Main colors */
    --background_first: #e9ecef;
    --background_second: #ffffff;

    /* Main font colors */
    --font_color_main: #676869;

    /* Light colors */
    --color_light_blue: #c3e0f7;
    --color_light_green: #a8f0cc;
    --color_light_yellow: #ffefce;
    --color_light_gray: #95a4c8;
    --color_light_red: #f6c6d3;

    /* Strong colors */
    --color_strong_blue: #548be9;
    --color_strong_green: #4db478;
    --color_strong_yellow: #edbb57;
    --color_strong_gray: #4e6f99;
    --color_strong_red: #f66a83;

    --border_radius: 6px;
    --main_padding: 15px;
    /* rgba(0, 0, 0, 0.15) */
    --main_border: rgb(200, 200, 200, 0.6);
}

#page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: var(--background_first);
}

#left {
    width: 20vw;
    height: 100vh;
    background: red;
}

#right {
    width: 80vw;
    height: 100vh;
    background: yellow;
}

#top {
    width: 100%;
    height: 6vh;
    background: green;
}

#bottom {
    height: 94vh;
    background: blue;
    overflow-y: auto;
}

#content {
    padding: 10px;
}


.box_item {
    overflow-y: auto;
    background: wheat;
}

.box_item_heder {
    padding: 15px;
}

.box_item_footer {
    padding: 15px;
}

.box_table {
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.box_table_header {
    background:#4db478;
}

.box_table_body {
    /* overflow-y: auto; */
    background:#548be9;
    overflow-y: auto;
}

.box_table_row {
    display: flex;
    flex-direction: row;
}

.box_table_cell {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
}
