:root {
    
    /* Colors */

        /* Main colors */
        --color_page_first: #63a1f9;
        --color_page_second: #5a71d9;
        --color_page_third: #717171;
        --color_background_first: #f2f4f6;
        --color_background_second: #ffffff;
        --color_background_third: #aad1f7;
        --color_background_animation: #95a4c8;

        /* Second colors */
        --color_page_shadow: #c2c0c0;
        --color_page_border: #e1e3e8;

        /* Main font colors */
        --color_font_white: #e4e5e7;
        --color_font_first: #4c5050;
        --color_font_second: #545353;

        /* Light colors */
        --color_light_blue: #c3e0f7;
        --color_light_green: #a8f0cc;
        --color_light_yellow: #ffefce;
        --color_light_gray: #95a4c8;
        --color_light_red: #f6c6d3;

        /* Strong colors */
        --color_strong_blue: #699df8;
        --color_strong_green: #8cd3aa;
        --color_strong_yellow: #f5cd7f;
        --color_strong_gray: #5a769a;
        --color_strong_red: #f27e93;

    /* Main page dimensions */
    --size_page_top: 7vh;
    --size_page_bottom: 93vh;
    --size_page_left: 250px;

    /* Top page img dimensions */
    --size_page_top_logo_user: 4vh;
    --size_page_top_actions: 3vh;

    /* Dimensions */
    --main_distance: 10px;
    --second_distance: 20px;
    --size_small: 5px;
    --size_medium: 10px;
    --size_big: 20px;
    --size_super_big: 30px;
    --size_button_small: 30px;
    --size_button_large: 50px;

    /* Font size */
    --font_small: 1em;
    --font_medium: 1.2em;
    --font_big: 1.3em;
}

/*   -----   MAIN CLASSES   -----   */
.collapse {
    display: none!Important;
}
