/*   ------------------------------------   */
/*   ----       BOX CONTAINER       ----   */
.small_box_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.box_item {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border-radius: var(--border_radius);
    box-sizing: border-box;
}



/*   ------------------------------------   */
/*   ----        SUMMARY BOX        ----   */
.summary_box_item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background: var(--background_second);
    padding: var(--main_padding) 15%;
}

.summary_title::after {
    content: ':';
}

.summary_value {
    padding-top: 10px;
    color: var(--color_strong_gray);
    font-size: 1.5em;
}

.summary_box_item i {
    font-size: 30px;
}

    /*   ----        SUMMARY BOX COLORS        ----   */

        /*   ----        SUMMARY BOX COLORS BLUE        ----   */
        .color_blue .summary_value {
            color: var(--color_strong_blue);
        }

        .color_blue.summary_box_item {
            border-left: 5px solid var(--color_strong_blue);
        }

        /*   ----        SUMMARY BOX COLORS GREEN        ----   */
        .color_green .summary_value {
            color: var(--color_strong_green);
        }

        .color_green.summary_box_item {
            border-left: 5px solid var(--color_strong_green);
        }

        /*   ----        SUMMARY BOX COLORS YELLOW        ----   */
        .color_yellow .summary_value {
            color: var(--color_strong_yellow);
        }

        .color_yellow.summary_box_item {
            border-left: 5px solid var(--color_strong_yellow);
        }

        /*   ----        SUMMARY BOX COLORS RED        ----   */
        .color_red .summary_value {
            color: var(--color_strong_red);
        }

        .color_red.summary_box_item {
            border-left: 5px solid var(--color_strong_red);
        }

        /*   ----        SUMMARY BOX COLORS GRAY        ----   */
        .color_gray .summary_value {
            color: var(--color_strong_gray);
        }

        .color_gray.summary_box_item {
            border-left: 5px solid var(--color_strong_gray);
        }
